body {
    background-color: #362e38
}

h1, h2, li,a, p{
    color: rgb(191 191 191)
}

a {
    background-color: rgb(38, 41, 70);
    padding: 10px;
    border: 1px solid black;
}

li {
    padding: 5px;
    margin-top: 15px;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}

.home {
    margin-top: 40px;
    margin-left: 50px;
}